.agent_management_container {
  .agent_tabs_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px #d9d9d9;

    .agent_tab {
      padding: 17px 10px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #444444;
      cursor: pointer;
      height: 47px;
      text-align: center;
    }

    .agent_tab.active {
      color: #0086ff;
      border-bottom: solid 5px #0086ff;
    }
  } //.agent_tabs_wrapper

  .agent_tabs_content {
  }

  .cross--icon {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    .cross {
      position: relative;
      left: 9px;
      top: 4px;
      .svg-inline--fa {
        height: 1.2em !important;
      }
    }

    &:hover {
      background: #f1f1f1;
    }
  }
} //.agent_management_container
