.viewAgentContainer {
}

.agentFilter {
  .basicFilter {
    background: #e5f3fe;
    padding: 14px 20px;
    text-align: center;
    border-bottom: solid 1px #d9d9d9;
  }

  .advanceFilter {
    background: #ffffff;
    padding: 14px 20px;
    text-align: center;
    border-bottom: solid 1px #d9d9d9;
  }

  .agentEmail .dropdown--wrapper .drop--wrapper {
    width: 350px;
  }
}

.btn-orange {
  line-height: 1.9 !important;
  min-width: 50px !important;
  background: #f15a21 !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  width: 100%;
}

.btn-orange-outline {
  color: #f15a21 !important;
  border: solid 1px #f15a21 !important;
  text-transform: none !important;
  line-height: 1.9 !important;
  width: 100%;
}

.filterLinkWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  .filterLink {
    color: #036ece;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;

    .filterLinkIcon {
      margin-left: 5px;
    }
  }
}

.agentResultContainer {
  padding: 10px 20px;

  & .agentSearchAndExportContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & .agentSearchInputWrap {
      position: relative;
      min-width: 35%;

      & .agentSearchInput {
        width: 100%;
        border: 1px solid #a6a8ab;
        height: 40px;
        border-radius: 4px;
        outline: none;
        padding: 0 30px 0 40px;
        font-size: 13px;
        color: #000;
        font-weight: 600;

        &:focus {
          border: 2px solid #44a5fe;
        }
      }

      & .agentSearchIcon {
        position: absolute;
        top: 11px;
        left: 11px;
      }

      & .agentSearchCrossIcon {
        position: absolute;
        top: 11px;
        right: 11px;
        cursor: pointer;
      }
    }

    & .agentExportButton {
      position: relative;
      min-width: 13%;

      & .btnExport {
        font-weight: 600;
      }
    }
  }

  & .agentDataContainer {
    margin-top: 10px;

    & .up {
      position: relative;
      top: -5px;
      right: -8px;
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
      }
    }

    & .down {
      position: relative;
      top: 5px;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      &.active {
        opacity: 1;
      }
    }

    & .Mui-checked {
      color: #1fd544;
    }

    & .openCollapse {
      background: #edf7ff;
    }

    & .bgOrange {
      background: #ffdfc2;
    }

    & .bgBlue {
      background: #def2f9;
    }

    & .bgOrangeLight {
      background: #ffecdb;
    }

    & .bgBlueLight {
      background: #edf7ff;
    }

    & .brd {
      & td {
        border-top: solid 1px green;
      }
    }

    & .brdTop {
      & td {
        border-top: solid 1px green;
      }
    }

    & .brdBottom {
      & td {
        border-bottom: 1px solid #a6a8ab;
      }
    }

    & .agentDetailsWrap {
      padding: 10px 0 12px 0;
      & .heading {
        color: #6f6f6f;
        font-size: 12px;
      }
      & .value {
        color: #21211f;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & .vline {
        border-right: solid 1px #c9d2d9;
      }

      & .pr {
        padding-right: 8px;
      }
    }
  }
}
